body {
  padding: 0;
  margin: 0;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.game-container {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}

.controls-container {
  flex: 2;
}

.simon-button {
  flex: 1;
  min-width: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.25s;
  cursor: pointer;
}

.control-division {
  margin: 10px;
}

#mafuyu {
  background-image: url('./images/mafuyu-3.png');
}

#mafuyu.current {
  background-color: #FFF176;
}

#mafuyu.hoverable:hover {
  background-color: #FFF176;
}

#maika {
  background-image: url('./images/maika.png');
}

#maika.current {
  background-color: #F8BBD0;
}

#maika.hoverable:hover {
  background-color: #F8BBD0;
}

#kaho {
  background-image: url('./images/kaho.png');
}

#kaho.current {
  background-color: #B3E5FC;
}

#kaho.hoverable:hover {
  background-color: #B3E5FC;
}

#miu {
  background-image: url('./images/miu-2.png');
}

#miu.current {
  background-color: #CE93D8;
}

#miu.hoverable:hover {
  background-color: #CE93D8;
}

audio {
  display: none;
}