body {
  padding: 0;
  margin: 0;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.game-container {
  flex: 8;
  display: flex;
  align-items: stretch;
}

.controls-container {
  background-color: #333;
  flex: 2;
}

.simon-button {
  flex: 1;
  width: 25vh;
  background-size: cover;
  background-position: center;
  transition: 0.25s;
  cursor: pointer;
}

#mafuyu {
  background-image: url('./images/mafuyu-3.png');
}

#mafuyu.current {
  background-color: yellow;
}

#mafuyu:hover {
  background-color: yellow;
}

#maika {
  background-image: url('./images/maika.png');
}

#maika.current {
  background-color: pink;
}

#maika:hover {
  background-color: pink;
}

#kaho {
  background-image: url('./images/kaho.png');
}

#kaho.current {
  background-color: cyan;
}

#kaho:hover {
  background-color: cyan;
}

#miu {
  background-image: url('./images/miu-2.png');
}

#miu.current {
  background-color: purple;
}

#miu:hover {
  background-color: purple;
}